.sidenav {
  grid-area: sidenav;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1rem;
}
.sidenav ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.sidenav li,
.sidenav a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidenav li {
  aspect-ratio: 1 / 1;
}
.sidenav a {
  width: 100%;
  height: 100%;
  max-width: 10ch;
  font-size: 1rem;
  text-align: center;
  background: var(--surface);
  color: var(--text);
  border-radius: 0.5rem;
  border: 1px solid transparent;
}
.sidenav a:hover {
  border: 1px solid var(--blue);
}
.sidenav a:global(.active) {
  border-color: var(--blue);
}
@media (max-width: 50rem) {
  .sidenav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin: 0;
    border-top: 1px solid var(--blue-mid);
    background: var(--bg);
    z-index: 1000;
  }
  .sidenav ul {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
  }
  /* .sidenav li {
    flex: 1;
  } */
  .sidenav a {
    height: 80px;
    font-size: 0.7rem;
    padding: 0.4rem;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--border);
  }
}
